.catalog-button {
  font-family: var(--accent-font); //changed
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  width: 280px;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:active {
    background-color: rgb(94, 170, 47);
    color: rgba(255, 255, 255, 0.3);
  }


  &--secondary-color {
    background-color: var(--bg-color-accent);
    color: var(--description-color);

    @media (--not-mobile) {
      font-size: 16px;
      font-weight: 400;
    }

    &:hover {
      background-color: rgb(235, 235, 235);
    }

    &:active {
      background-color: rgb(235, 235, 235);
      color: rgba(68, 68, 68, 0.3);
    }
  }

  @media (--not-mobile) {
    width: 248px;
    align-self: center;
  }

  @media (--desktop) {
    width: 168px;
  }
}
