.catalog-title {
  font-family: var(--main-font);
  font-size: var(--title-fs);
  line-height: var(--title-fs);
  color: var(--primary-color);
  border-top: 1px solid var(--details-color);
  padding-top: 30px;
  margin: 0;
}
