.catalog__wrapper {
  border-bottom: 1px solid #ededed;

  @media (--desktop) {
    border-bottom: none;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (--not-mobile) {
    row-gap: 64px;
    column-gap: 55px;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  }

  @media (--desktop) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    row-gap: 5px;
    column-gap: 80px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 209px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;

  @media (--not-mobile) {
    justify-content: space-between;
    align-items: center;
    border: none;
    min-height: auto;
    min-width: 324px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 82px, #f2f2f2 82px, #f2f2f2);
    padding-bottom: 35px;
  }

  @media (--desktop) {
    min-width: 245px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 133px, #f2f2f2 82px, #f2f2f2);
    padding-bottom: 45px;
  }

  &:last-child {
    padding-bottom: 0;

    @media (--not-mobile) {
      background-image: none;
      border-bottom: none;
    }
  }
}


.catalog__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (--not-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  &--more {
    grid-template-columns: 1fr;
    align-items: center;
    margin-bottom: 10px;

    @media (--not-mobile) {
      margin-top: 125px;
    }

    @media (--desktop) {
      margin-top: 109px;
    }
  }
}

.catalog__link {
  display: flex;
  text-decoration: none;
  align-items: flex-end;

  @media (--not-mobile) {
    justify-content: center;
  }

  &--more-svg {
    padding-top: 20px;
    padding-bottom: 25px;

    @media (--not-mobile) {
      padding-top: 5px;
      padding-bottom: 0;
    }
  }
}

.catalog__product-info {
  @media (--not-mobile) {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 252px;
    margin-bottom: 15px;
  }

  @media (--desktop) {
    padding: 0;
    min-width: 180px;
    margin-bottom: 10px;
  }
}

.catalog__product-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

  @media (--not-mobile) {
    margin-bottom: 0;
  }

  @media (--desktop) {
    margin-top: 40px;
    padding-bottom: 0;
  }

  &--more {
    @media (--not-mobile) {
      margin-bottom: 50px;
    }

    @media (--desktop) {
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }
}


.catalog__more {
  width: 30px;
  height: 30px;

  @media (--not-mobile) {
    width: 60px;
    height: 60px;
  }
}

.catalog__stats {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin: 0;

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 20px;

    @media (--desktop) {
      margin-bottom: 20px;
    }
  }

  @media (--not-mobile) {
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (--desktop) {
    min-width: 180px;
    padding-left: 10px;
  }
}

.catalog__title {
  font-family: var(--accent-font);
  color: var(--title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 64px;
  margin-top: 20px;
  text-transform: uppercase;

  @media (--not-mobile) {
    max-width: 145px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 18px;
    margin-inline: auto;
    margin-bottom: 17px;
  }

  @media (--desktop) {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &--more {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-align: center;

    @media (--not-mobile) {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  &--big {
    @media (--desktop) {
      margin-top: 24px;
    }
  }
}

.catalog__subtitle {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--description-color);
  margin-top: 10px;
  margin-bottom: 10px;

  @media (--not-mobile) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-top: 15px;
  }
}

.catalog__image {
  position: relative;
  display: block;
  width: 68px;
  height: 86px;
  margin-top: 20px;

  @media (--not-mobile) {
    width: 161px;
    height: 172px;
    margin-top: 40px;
    margin-bottom: 14px;
  }

  @media (--desktop) {
    width: 172px;
    height: 196px;
  }

  &--big {
    width: 84px;
    height: 101px;
    margin-top: 18px;

    @media (--not-mobile) {
      width: 168px;
      height: 200px;
      margin-top: 9px;
      margin-bottom: 13px;
    }

    @media (--desktop) {
      width: 172px;
      height: 196px;
      margin-bottom: 20px;
      margin-top: 17px;
    }
  }
}

.catalog__info {
  @media (--desktop) {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  &--more {
    @media (--desktop) {
      padding-top: 18px;
    }
  }
}
