.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 23px;
}

.catalog__container {
  display: flex;
  align-items: center;
  width: 280px;
}

.catalog__link {
  display: block;
  text-decoration: none;
}

.catalog__product-info {
  width: 142px;
}

.catalog__product-photo {
  order: -1;
  padding: 14px 36px;
}

.catalog__stats {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
}

.catalog__title {
  font-family: var(--main-font);
  color: var(--title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 64px;
}

.stats__info,
.stats__value {
  font-family: var(--accent-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--description-color);
}

.catalog__title--more {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__subtitle {
  font-family: var(--accent-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--description-color);
}

.catalog-button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  width: 280px;
  box-sizing: border-box;
  text-align: center;


  &.--secondary-color {
    background-color: var(--bg-color-accent);
    color: var(--description-color);
  }
}

