.catalog-content__title {
  font-family: var(--accent-font);
  font-size: var(--title-fs);
  font-weight: 400;
  line-height: var(--title-fs);
  color: var(--primary-color);
  border-top: 1px solid var(--details-color);
  border-bottom: 1px solid var(--details-color);
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 0;

  @media (--not-mobile) {
    font-size: var(--title-big);
    line-height: 60px;
    border: none;
  }
}
