.contacts--theme {
  background-color: var(--bg-color-accent);
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (--not-mobile) {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 38px;
  }

  @media (--desktop) {
    display: none;
  }
}

.contacts__advertisement {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  max-width: 139px;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    min-width: 172px;
  }
}

.contacts__address {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--description-color);
  max-width: 139px;

  @media (--not-mobile) {
    display: flex;
    flex-direction: column;
    max-width: 168px;
    min-height: 84px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-right: 40px;
  }
}

.contacts__city {
  margin-top: 20px;
}

.contacts__map {
  width: 100vw;
  min-width: 320px;
  border: none;
  height: 362px;
  object-fit: cover;

  @media (--not-mobile) {
    min-height: 400px;
    width: 100%;
    object-fit: cover;
  }

  @media (--desktop) {
    width: 100%;
  }

  &--iframe {
    display: none;
  }

  &--image {
    display: block;
  }
}
