.contacts--theme {
  background-color: var(--bg-color-accent);
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (--not-mobile) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.contacts__advertisement {
  font-family: var(--accent-font); //changed
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  max-width: 139px;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
}

.contacts__address {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--description-color);
  max-width: 139px;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__map {
  display: block;
  width: 100vw;
  min-width: 320px;
  border: none;
  height: 362px;

  @media (--not-mobile) {
    min-height: 400px;
    width: 100%;
  }
}
