.footer {
  background-color: var(--bg-color-accent);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-mobile) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 0;
  }
}

.footer__logo {
  text-decoration: none;
  display: block;
  width: 128px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 32px;

  @media (--not-mobile) {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (--not-mobile) {
    width: auto;
    padding: 0;
  }
}

.footer__copyright-text {
  display: inline-block;
  text-decoration: none;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 19px;
  color: #444444;

  @media (--not-mobile) {
    margin-right: 22px;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.footer__copyright-link {
  display: block;
  text-decoration: none;
  mask-image: url("../../icons/sprite.svg#academy-img");
  mask-repeat: no-repeat;
  width: 27px;
  height: 34px;
  mask-size: 27px 34px;
  mask-position: center center;
  background-color: #444444;

  &:hover {
    background-color: rgb(104, 183, 56);
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);
  }
}
