.form__content-wrapper {
  @media (--not-mobile) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (--desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__group-wrapper {
  @media (--desktop) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form__group-contacts {
  width: 100%;

  @media (--not-mobile) {
    display: grid;
  }
}

.form__legend {
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 26px;
  color: var(--primary-color);
  margin-bottom: 35px;
  border: none;
  padding: 0;

  &--contacts {
    padding-top: 26px;

    @media (--desktop) {
      font-size: var(--title-fs);
      line-height: 36px;
      padding-top: 44px;
      padding-bottom: 63px;
    }
  }

  @media (--desktop) {
    margin-bottom: 0;
  }
}

.form__label,
.form__input,
.form__feedback {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  color: var(--description-color);
  text-transform: uppercase;

  @media (--not-mobile) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;

  @media (--desktop) {
    margin-bottom: 0;
  }
}

.form__label--radio {
  display: grid;
  grid-template-columns: 1.5em auto;
  gap: 15px;


  @media (--not-mobile) {
    grid-template-columns: 6% auto;
    gap: 20px;
  }
}

.form__radio {
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #ffffff;
  font: inherit;
  color: currentcolor;
  width: 30px;
  height: 30px;
  border: 1px solid var(--form-control-color);
  border-radius: 50%;
  margin-bottom: 18px;
  transform: translateY(15%);
  display: grid;
  place-content: center;

  &:hover {
    border: 1px solid #bababa;
  }

  &::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-color);
    background-color: #68b738;

    @media (--not-mobile) {
      width: 18px;
      height: 18px;
    }
  }

  &:checked::before {
    transform: scale(1);
  }

  @media (--not-mobile) {
    width: 40px;
    height: 40px;
  }

  &:focus {
    outline: max(2px, 0.15em) solid currentcolor;
    outline-offset: max(2px, 0.15em);
  }
}

.form__contacts {
  display: flex;
  justify-content: space-between;

  @media (--desktop) {
    max-width: 1220px;
    width: 100%;
  }
}


.form__input {
  box-sizing: border-box;
  border: 1px solid #e7e7ee;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 13px;
  width: 100%;
  margin-left: 15px;
  transform: translateY(15%);

  @media (--desktop) {
    margin-bottom: 20px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:focus:invalid {
    border: 2px solid #ff8282;
  }
}



.form__filter-radio {
  display: flex;
  flex-direction: column;
  border: 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (--not-mobile) {
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
  }

  @media (--desktop) {
    margin: 0;
    padding: 0;
  }
}

.form__feedback {
  width: 100%;
}

.form__addons-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(285px, 500px));
    row-gap: 32px;
    column-gap: 60px;
  }

  @media (--desktop) {
    grid-template-columns: repeat(4, 245px);
    row-gap: 40px;
  }
}

.form__addons-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form__icon-required {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
}

.form__label-checkbox {
  display: grid;
  grid-template-columns: 2em auto;
  gap: 19px;
}

.form__checkbox {
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #ffffff;
  font: inherit;
  color: currentcolor;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--form-control-color);
  display: grid;
  place-content: center;

  @media (--not-mobile) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 14px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-color);
    background-color: #68b738;
    transform-origin: bottom left;
    clip-path: polygon(3% 36%, 0 43%, 47% 107%, 71% 68%, 107% 0, 45% 93%);

    @media (--not-mobile) {
      width: 24px;
      height: 19px;
    }
  }

  &:checked::before {
    transform: scale(1);
  }
}

.form__button {
  width: 100%;
  height: 40px;

  @media (--not-mobile) {
    width: 282px;
    height: 52px;
  }

  @media (--desktop) {
    width: 568px;
    height: 52px;
  }
}
