.goods {
  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__title {
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-color);
  border-bottom: 1px solid #cdcdcd;
  padding-top: 25px;
  padding-bottom: 35px;

  @media (--not-mobile) {
    font-size: var(--title-fs);
    line-height: 36px;
    border-bottom: none;
    padding-bottom: 80px;
  }

  @media (--desktop) {
    width: 100%;
  }
}

.goods__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--desktop) {
    margin-right: 79px;
    flex-grow: 2;
  }
}

.goods__item {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;

  @media (--not-mobile) {
    display: flex;
    border: 1px solid #cdcdcd;
  }

  @media (--desktop) {
    flex-direction: row;
    max-width: 896px;
    width: 100%;
    min-height: 72px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }
}
