.goods-button {
  width: 280px;
  box-sizing: border-box;
  text-align: center;

  @media (--not-mobile) {
    max-width: 632px;
    width: 100%;
    font-size: 16px;
  }

  @media (--desktop) {
    max-width: 244px;
    width: 100%;
    height: auto;
  }
}
