.main-promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-mobile) {
    position: relative;
    min-width: 708px;
    padding-left: 92px;
    align-items: flex-start;
    min-height: 800px;
  }
}

.main-promo__title {
  font-family: var(--accent-font); //changed
  font-size: var(--title-fs);
  font-weight: normal;
  line-height: 36px;
  color: var(--secondary-color);
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  max-width: 250px;
  box-sizing: content-box;


  @media (--not-mobile) {
    text-align: left;
    font-size: var(--title-big);
    line-height: 60px;
    color: var(--primary-color);
    max-width: 450px;
    padding-bottom: 20px;
    padding-top: 45px;
  }

  @media (--desktop) {
    padding-top: 110px;
  }
}

.main-promo__slogan {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  color: var(--secondary-color);
  text-transform: uppercase;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 20px;
    color: var(--primary-color);
    margin-bottom: 50px;
  }
}

.main-promo__banner-product {
  @media (--not-mobile) {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 6px;
    bottom: -58px;
    z-index: -1;
  }

  @media (--desktop) {
    top: 0;
    left: 507px;
    width: 552px;
    height: 499px;
  }
}

.main-promo__product-img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 270px;

  @media (--not-mobile) {
    width: 708px;
    height: 609px;
  }
}

.main-promo__button-programs {
  @media (--not-mobile) {
    width: 245px;
    height: 52px;
    top: 287px;
    left: 119px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}
