.main-nav__toggle {
  display: block;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 16px;
  padding: 0;
  cursor: pointer;

  @media (--not-mobile) {
    display: none;
  }
}

@media (--mobile) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--opened {
  .main-nav__list {
    display: flex;
    z-index: 1;
  }

  .main-nav__icon-burger {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
      top: -7px;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


.main-nav__icon-burger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 1px;
  background-color: var(--primary-color);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
  }
}

.main-nav__list {
  position: absolute;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  background-color: var(--secondary-color);
  top: 60px;
  width: 100%;
  align-items: center;

  @media (--not-mobile) {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    top: auto;
    width: 440px;
    justify-content: space-between;
  }

  @media (--desktop) {
    width: 478px;
    background-color: transparent;
  }
}

.main-nav__item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:first-child {
    @media (--not-mobile) {
      // margin-left: 16px;
    }
  }

  @media (--not-mobile) {
    border-top: none;
    padding: 0;
    width: auto;
    margin-right: 5px;

    &--current::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -11px;
      height: 2px;
      width: 100%;
      background-color: #68b738;
    }

    &:last-child {
      margin: 0;
    }
  }

  @media (--desktop) {
    &--index {
      .main-nav__link {
        color: var(--secondary-color);
      }

      &::after {
        background-color: var(--secondary-color);
      }
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  font-family: var(--accent-font); //changed
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--primary-color);

  @media (--not-mobile) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (--desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}
