
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px;
  flex-wrap: wrap;

  @media (--not-mobile) {
    width: auto;
    flex-direction: row;
    padding: 25px 20px;
  }

  @media (--desktop) {
    display: flex;
    flex-direction: row;
    width: 1226px;
    margin-left: auto;
  }
}

.main-header__logo {
  text-decoration: none;
}

.main-header__title {
  display: block;

  @media (--not-mobile) {
    display: none;
  }
}

.main-header__logo-text {
  width: 101px;
  height: auto;
  display: block;
}
