
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 17px;

  @media (--not-mobile) {
    width: auto;
    flex-direction: row;
  }

  @media (--desktop) {
    display: flex;
    flex-direction: row;
    width: 1226px;
    margin-left: auto;
  }
}

.main-header__logo {
  text-decoration: none;
}

.logo__image {
  display: block;

  @media (--not-mobile) {
    width: 171px;
    height: 52px;
  }

  @media (--desktop) {
    width: 202px;
    height: 60px;
  }

  img {
    width: 100%;
  }
}

.main-header__title {
  display: block;
  height: 19px;

  @media (--not-mobile) {
    display: none;
  }
}
