.main-content__title {
  font-family: var(--main-font);
  font-size: var(--title-fs);
  font-weight: normal;
  line-height: 36px;
  color: var(--secondary-color);
  padding: 25px 35px;
  margin: 0;
}
