.motivation {
  background-color: #eaeaea;

  @media (--not-mobile) {
    background-color: var(--secondary-color);
    background-image: linear-gradient(180deg, #ffffff 621px, #eaeaea 170px);
  }

  @media (--desktop) {
    background-image: linear-gradient(180deg, #ffffff 130px, #eaeaea 127px);
  }
}

.motivation__title {
  font-family: var(--accent-font); //changes
  font-size: var(--title-fs);
  line-height: 40px;
  color: var(--primary-color);
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 41px;

  @media (--not-mobile) {
    font-size: var(--title-big);
    line-height: 60px;
    font-weight: 400;
    padding-top: 48px;
    margin-bottom: 60px;
  }

  @media (--desktop) {
    padding-top: 0;
    margin-bottom: 143px;
  }
}

.motivation__content {
  @media (--not-mobile) {
    margin-bottom: 43px;
  }

  @media (--desktop) {
    margin-bottom: 0;
  }
}

.motivation__testimony {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;

  @media (--not-mobile) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (--desktop) {
    max-width: 436px;
    margin-bottom: 67px;
  }
}

.motivation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (--not-mobile) {
    justify-content: flex-start;
  }
}

.motivation__name,
.motivation__value {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 0;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.motivation__item--badge {
  position: relative;
  margin-bottom: 35px;

  @media (--not-mobile) {
    min-width: 162px;
  }

  &:first-child {
    margin-right: 30px;

    @media (--not-mobile) {
      font-size: 14px;
      line-height: 14px;
      margin-right: 30px;
    }
  }

  .motivation__value {
    font-family: var(--accent-font);
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    border: 1px solid #cdcdcd;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 15px 18px;
    min-width: 120px;
    text-align: center;

    @media (--not-mobile) {
      font-size: 30px;
      line-height: 37px;
      padding: 15px 55px 25px;
    }

    &--days {
      @media (--not-mobile) {
        padding: 15px 30px 25px;
        margin-left: 15px;
      }
    }

    &--price {
      @media (--mobile) {
        margin-left: 0;
      }
    }
  }

  .motivation__name {
    position: absolute;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eaeaea;
    margin-bottom: 20px;
    text-transform: lowercase;

    @media (--not-mobile) {
      font-size: 14px;
      line-height: 14px;
      background-color: var(--secondary-color);
      bottom: -20px;
      width: 127px;
    }

    @media (--desktop) {
      background-color: #eaeaea;
      width: 136px;
      bottom: -21px;
    }
  }
}


.motivation__item {
  &:last-child {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    @media (--not-mobile) {
      flex-direction: column;
      margin-left: auto;
      width: auto;
      margin-top: -32px;
      text-transform: uppercase;
      text-align: right;
    }

    @media (--desktop) {
      margin-left: 0;
      flex-direction: row;
      margin-top: 30px;
    }
  }

  .motivation__value {
    &--price {
      @media (--desktop) {
        margin-left: 73px;
      }
    }
  }
}

.motivation__wrapper {
  @media (--desktop) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
}

.motivation__example-container {
  --curtain: 1;
  position: relative;
  background-color: #eaeaea;

  @media (--not-mobile) {
    --curtain: 0.5;

    background-image: linear-gradient(180deg, #ffffff 170px, #eaeaea 170px);
  }

  @media (--desktop) {
    background-image: linear-gradient(180deg, #ffffff 130px, #eaeaea 127px);
  }

  &::before {
    @media (--not-mobile) {
      left: calc((50vw - var(--tablet-content) /2 ) * -1);
    }
  }

  &::after {
    @media (--not-mobile) {
      right: calc((50vw - var(--tablet-content) /2 ) * -1);
    }
  }
}

.motivation__slider {
  display: grid;
  grid-template-columns: calc(100% * var(--curtain)) 1fr;
  width: 280px;
  min-height: 232px;
  margin: 0 auto 25px;

  @media (--not-mobile) {
    width: 590px;
    height: 511px;
    margin-bottom: 35px;
    background-image: linear-gradient(#ffffff 170px, #eaeaea 170px);
  }

  @media (--desktop) {
    margin-top: -47px;
    height: 511px;
    background-image: linear-gradient(#ffffff 177px, #eaeaea 170px);
  }
}

.motivation__before-wrapper {
  grid-area: 1 / 1 / 2 / 2;
}

.motivation__example-container::before,
.motivation__example-container::after {
  --tablet-content: 708px;

  @media (--not-mobile) {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(50vw - var(--tablet-content) / 2);
    background-image: linear-gradient(180deg, #ffffff 170px, #eaeaea 170px);
  }

  @media (--desktop) {
    background-image: none;
    width: 0;
    height: 0;
  }
}

.motivation__before-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.motivation__after-wrapper {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

.motivation__after-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.motivation__controls {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-bottom: 40px;
  width: 219px;
  margin: 0 auto;

  @media (--not-mobile) {
    width: 592px;
  }
}

.motivation__range {
  --range-size: 74px;
  --thumb-size: 36px;
  --range-height: 6px;

  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr var(--thumb-size) calc(var(--curtain) * (var(--range-size) - var(--thumb-size)));
  width: var(--range-size);
  height: var(--range-height);
  padding: 3px 5px;
  border: 1px solid #cdcdcd;
  border-radius: var(--range-height);
  background-color: #ffffff;

  @media (--not-mobile) {
    --range-size: 426px;
    --thumb-size: 34px;

    background-color: #dcdcdc;
    border: 0;
    padding: 0;
  }
}

.motivation__thumb {
  box-sizing: border-box;
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  border-radius: 100px;
  background-color: var(--accent-color);

  &:hover {
    cursor: grab;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:active {
    cursor: grabbing;

    @media (--not-mobile) {
      --border-color: #68b738;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }

  @media (--not-mobile) {
    margin-block: calc((var(--range-height) - var(--thumb-size)) / 2);
    height: var(--thumb-size);
    padding: 1px;
    background-clip: content-box;
    border: 1px solid var(--border-color, #cdcdcd);
    box-shadow: inset 0 0 0 12px #ffffff;
  }
}

.motivation__button {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #eaeaea;
  color: var(--primary-color);
  text-transform: uppercase;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}
