.page {
  font-family: var(--accent-font); //changed
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.page__centerer {
  margin-inline: 20px;

  @media (--not-mobile) {
    margin-inline: 30px;
  }

  @media (--desktop) {
    margin-inline: auto;
    width: 1220px;
  }
}
