.page {
  font-family: var(--accent-font); //changed
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.page__centerer {
  margin: 0 20px;

  @media (--not-mobile) {
    margin: 0 30px;
  }

  @media (--desktop) {
    margin: auto;
    width: 1220px;
  }
}
