.principles__title {
  font-family: var(--accent-font); //changed
  font-size: var(--title-fs);
  line-height: 40px;
  color: var(--primary-color);
}

.principles__list {
  padding: 0;
  list-style: none;
}

.principles__item {
  position: relative;
  font-family: var(--main-font); //changed
  font-size: 14px;
  line-height: 18px;
  margin-left: 80px;
  margin-bottom: 20px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.principles__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--accent-color);
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: -80px;
}

.principles__item--greens::before {
  background-image: url("../../icons/icon_leaf.svg");
}

.principles__item--solutable::before {
  background-image: url("../../icons/icon_glass.svg");
}

.principles__item--silverwear::before {
  background-image: url("../../icons/icon_eat.svg");
}

.principles__item--clock::before {
  background-image: url("../../icons/icon_alarm.svg");
}
