.principles {
  @media (--not-mobile) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (--desktop) {
    border-bottom: none;
  }
}

.principles__title {
  font-family: var(--accent-font); //changed
  font-size: var(--title-fs);
  line-height: 40px;
  color: var(--primary-color);
  font-weight: 400;
  padding-top: 0;
  margin: 0 0 35px;

  @media (--not-mobile) {
    font-size: var(--title-big);
    line-height: 60px;
    margin-bottom: 30px;
    padding-top: 25px;
  }

  @media (--desktop) {
    padding-top: 42px;
  }
}

.principles__list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: grid;
  counter-reset: principle;
  padding-bottom: 40px;

  @media (--not-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    column-gap: 72px;
    padding-bottom: 10px;
  }

  @media (--desktop) {
    column-gap: 80px;
  }
}

.principles__item {
  position: relative;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 11px;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-top: 15px;

  @media (--not-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 37px;
    margin-left: 0;
    padding-top: 155px;
    padding-bottom: 55px;
    padding-left: 0;

    &::after {
      content: counter(principle);
      position: absolute;
      counter-increment: principle;
      top: 0;
      right: 0;
      width: 136px;
      height: 280px;
      font-family: var(--accent-font);
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;

      @media (--desktop) {
        top: 0;
        right: -46px;
      }
    }
  }
}

.principles__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 13;
  left: 0;

  @media (--not-mobile) {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }
}

.principles__item--greens::before {
  background-image: url("../../icons/sprite.svg#leaf");
}

.principles__item--solutable::before {
  background-image: url("../../icons/sprite.svg#glass");
}

.principles__item--eat::before {
  background-image: url("../../icons/sprite.svg#eat");
}

.principles__item--clock::before {
  background-image: url("../../icons/sprite.svg#alarm");
}
