// .profile-form__group,
// .profile-form__filter-radio,
// .profile-form__contacts,
// .profile-form__comments,
// .profile-form__add-ons {
//   border: none;
//   border-top: 1px solid var(--feature-color);
//   border-bottom: 1px solid var(--feature-color);
// }

.profile__title {
  font-family: var(--main-font);
  font-size: var(--title-fs);
  line-height: 36px;
  color: var(--primary-color);
}

.profile__subtitle {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.profile-form__label,
.profile-form__input,
.profile-form__feedback {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 18px;
  color: var(--description-color);
  text-transform: uppercase;
}

.profile-form__input {
  border: 1px solid #e7e7ee;
}

.profilr-form__legend {
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 26px;
  color: var(--primary-color);
}

.profile-form__icon-required {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 16px;
}
