.promotions {
  @media (--not-mobile) {
    display: flex;
    width: 100%;
  }

  @media (--desktop) {
    width: auto;
  }
}

.promotions__container {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/bg-promotions.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 60px 43px;
  margin-top: 35px;

  @media (--not-mobile) {
    flex-direction: row;
    align-items: center;
    min-width: 708px;
    width: 100%;
    margin-top: 65px;
    background-image: url("../../img/bg-promotions-tablet.jpg");
    margin-bottom: 65px;
    padding-bottom: 60px;
  }

  @media (--desktop) {
    width: 245px;
    min-width: auto;
    margin-top: 0;
  }
}

.promotions__icon {
  background-image: url("../../icons/sprite.svg#gift");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  margin: 0 auto;

  @media (--not-mobile) {
    width: 60%;
    margin: 0;
    margin-left: 10px;
  }
}

.promotions__text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 48px;

  @media (--not-mobile) {
    width: 30%;
    line-height: 20px;
    text-align: left;
    margin: 0;
  }
}
