:root {
  --main-font: "Oswald", sans-serif;
  --accent-font: arial, sans-serif;

  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: rgb(104, 183, 56);
  --bg-color-accent: #f2f2f2;
  --feature-color: #d9d9d9;

  --title-fs: 36px;
  --details-color: #ebebeb;
  --title-color: #222222;
  --description-color: #444444;
}
