<header class="main-header page__centerer">
  <a class="main-header__logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif %}>
    <picture class="logo__image">
      <source media="(min-width: 1280px)" srcset="../img/logo-desktop.svg">
      <source media="(min-width: 768px)" srcset="../img/logo-tablet.svg">
      <img src="../img/logo-mobile.svg" width="34" height="39" alt="cat energy">
    </picture>
  </a>

  <a href="#" class="main-header__title">
    <img src="../img/logo-text.svg" alt="Cat Energy" width="101" height="19">
  </a>

  <nav class="main-nav main-nav--closed">
    <button class="main-nav__toggle" type="button">
      <span class="main-nav__icon-burger"></span>
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <ul class="main-nav__list">
      {% for page in pages %}
      <li class="main-nav__item">
        <a class="main-nav__link" href="{{ page.path }}" {% if permalink==page.path %} aria-current="page" {% endif %}>{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>

  </nav>
</header>
