{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="profile">
  <div class="profile__heading page__centerer">

    <h1 class="profile__title">Подбор программы</h1>
    <p class="profile__subtitle">Заполните анкету, и мы подберем программу питания для вашего кота</p>

  </div>
  <section class="form-profile">
    <h2 class="visually-hidden">Форма Заявок</h2>
    <form class="form" action="https://echo.htmlacademy.ru">
      {# <div class="form__content-wrapper"> #}
        <div class="form__group-wrapper">
          <fieldset class="form__group form__group--info-pet">
            <legend class="visually-hidden">Информация о питомце</legend>
            <label for="name" class="form__label form__label--name">Имя:<sup>*</sup>
              <input class="form__input form__input--info form__input--error" type="text" id="name" placeholder="Барсик" required autofocus>
            </label>
            <label class="form__label form__label--sb" for="weight">Вес (кг):<sup>*</sup>
              <input class="form__input form__input--info form__input--error" type="number" id="weight" placeholder="7" required>
            </label>
            <label class="form__label form__label--sb" for="age">Возраст (лет):
              <input class="form__input form__input--info form__input--error" type="number" id="age" placeholder="7">
            </label>
          </fieldset>
          <fieldset class="form__filter-radio form__filter-radio--border">
            <legend class="visually-hidden">Нужды питомца</legend>
            <div class="form__filter-wrapper">
              <label class="form__label form__label--radio" for="weight-loss">
                <input class="form__radio" type="radio" name="pet-needs" id="weight-loss" checked>
                Похудение
              </label>
              <label class="form__label form__label--radio" for="weight-gain">
                <input class="form__radio" type="radio" name="pet-needs" id="weight-gain">
                Набор Массы
              </label>
              <label class="form__label form__label--radio" for="doubts">
                <input class="form__radio" type="radio" name="pet-needs" id="doubts">
                Не знаю (Нужен ваш совет)
              </label>
            </div>
          </fieldset>
        </div>
        <fieldset class="form__contacts form__legend">
          <legend class="form__legend">
            <span class="form__title-wrapper">Контактные данные (владельца&nbsp;кота)</span>
          </legend>
          <div class="form__group-contacts">
            <label class="form__label form__label--email" for="email">E-mail:<sup>*</sup>
              <input class="form__input form__input--email" type="email" id="email" placeholder="kuklachev@gmail.com" required>
              <span class="form__icon form__icon--email"></span>
            </label>
            <label class="form__label form__label--sb" for="phone">Телефон:<sup>*</sup>
              <input class="form__input form__input--phone" type="tel" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="8 (960) 900-60-90" required>
              <span class="form__icon form__icon--phone"></span>
            </label>
          </div>
        </fieldset>
        <fieldset class="form__comments form__legend">
          <legend class="form__legend form__legend--comment heading">Комментарий</legend>
          <textarea class="form__feedback" name="comment" cols="30" rows="10" placeholder="Расскажите обо всех повадках кота"></textarea>
        </fieldset>
        <fieldset class="form__add-ons form__legend">
          <legend class="form__legend form__legend--addons heading
          ">Дополнительно</legend>
          <ul class="form__addons-list">
            <li class="form__addons-item">
              <label class="form__label form__label-checkbox" for="sugar-sub">
                <input class="form__checkbox" type="checkbox" id="sugar-sub" value="sugar-substitute" name="add-ons" checked>сахарозаменитель
              </label>
            </li>
            <li class="form__addons-item">
              <label class="form__label form__label-checkbox" for="water">
              <input class="form__checkbox" type="checkbox" id="water" name="add-ons" value="liquid">питьевая вода
            </label>
          </li>
            <li class="form__addons-item">
              <label class="form__label form__label-checkbox" for="milk">
                <input class="form__checkbox" type="checkbox" id="milk" name="add-on" value="dairy">молоко
              </label>
            </li>
            <li class="form__addons-item">
              <label class="form__label form__label-checkbox" for="vitamins">
                <input class="form__checkbox" type="checkbox" id="vitamins" name="add-ons" value="supplement">витамины
              </label>
            </li>
          </ul>
          <div class="button-container">
            <button class="form__button button" type="button">отправить заявку</button>
            <span class="form__required-text">* — Обязательные поля</span>
          </div>
        </fieldset>
    {# </div> #}

    </form>
  </section>
</main>
{% endblock %}
