{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main">
  <section class="main-promo promo">
    <div class="page__centerer">
      <div class="main-promo__container">
        <h1 class="main-promo__title">Функциональное питание для котов</h1>
        <p class="main-promo__slogan">Занялся собой? Займись котом!</p>
        <picture class="main-promo__banner-product">
          <source media="(min-width: 1280px)" srcset="img/index-can-desktop.png">
          <source media="(min-width: 768px)" srcset="img/index-can-tablet.jpg">
          <img class="main-promo__product-img" src="../img/index-can-mobile.png" alt="Банка корма для котов." width="280" height="270" />
        </picture>
        <a href="form.html" class="main-promo__button-programs button">Подобрать Программу</a>
      </div>
    </div>
  </section>
  <section class="programs">
    <div class="page__centerer">
      <h2 class="visually-hidden">Доступные программы</h2>
      <ul class="programs__list">
        <li class="programs__item">
          <div class="programs__item-wrapper programs__item-wrapper--slim">
            <h3 class="programs__title programs__title--slim">Похудение</h3>
            <p class="programs__description">
              Ваш кот весит больше собаки и почти утратил способность лазить
              по деревьям? Пора на диету! Cat Energy Slim поможет вашему
              питомцу сбросить лишний вес.
            </p>
            <a href="#" class="programs__link programs__link--arrow">Каталог Slim</a>
          </div>
        </li>
        <li class="programs__item">
          <div class="programs__item-wrapper programs__item-wrapper--weight-gain">
            <h3 class="programs__title programs__title--weight">
              Набор Массы
            </h3>
            <p class="programs__description">
              Заработать авторитет среди дворовых котов и даже собак? Серия
              Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
            </p>
            <a href="#" class="programs__link programs__link--arrow">Каталог Pro</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="principles">
    <div class="page__centerer">
      <h2 class="principles__title">Как это работает</h2>
      <ul class="principles__list">
        <li class="principles__item principles__item--greens">

          Функциональное питание содержит только полезные питательные
          вещества.

        </li>
        <li class="principles__item principles__item--solutable">

          Выпускается в виде порошка, который нужно лишь залить кипятком и
          готово.

        </li>
        <li class="principles__item principles__item--silverwear">

          Замените один-два приема обычной еды на наше функциональное
          питание.

        </li>
        <li class="principles__item principles__item--clock">

          Уже через месяц наслаждайтесь изменениями к лучшему вашего
          питомца!

        </li>
      </ul>
    </div>
  </section>
  <section class="motivation">
    <div class="motivation__content page__centerer">
      <h2 class="motivation__title">Живой ример</h2>
      <p class="motivation__testimony">
        Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на
        Cat Energy Slim. Отличный результат без изнуряющих тренировок! При
        этом он не менял своих привычек и по-прежнему спит по 16 часов в
        день.
      </p>
      <dl class="motivation__list">
        <div class="motivation__item motivation__item--badge">
          <dt class="motivation__name">
            снижение<br />
            веса
          </dt>
          <dd class="motivation__value">5 кг</dd>
        </div>
        <div class="motivation__item motivation__item--badge">
          <dt class="motivation__name">
            затрачено<br />
            времени
          </dt>
          <dd class="motivation__value">60 дней</dd>
        </div>
        <div class="motivation__item">
          <dt class="motivation__name">Затраты на питание:</dt>
          <dd class="motivation__value">15 000 РУБ.</dd>
        </div>
      </dl>
    </div>
    <div class="motivation__example-container">
      <div class="page__centerer">
        <figure class="motivation__slider">
          <figcaption class="visually-hidden">Результаты До и После.</figcaption>
          <img class="motivation__before-img" src="img/before-cat.png" alt="Fat cat.">
          <img class="motivation__after-img" src="img/after-cat.png" alt="Slim cat.">
        </figure>
        <button class="motivation__button">Было</button>
        <div class="motivation__scale">
          <div class="motivation__thumb"></div>
        </div>
        <button class="motivation__button">Стало</button>
      </div>
    </div>
  </section>
  <section class="contacts contact--theme">
    <div class="contacts__wrapper page__centerer">
      <h2 class="visually-hidden">Наш адрес</h2>
      <div class="contacts__informative">
        <p class="contacts__advertisement">
          приглашаем к сотрудничеству дилеров!
        </p>
      </div>
      <address class="contacts__address">
        ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
      </address>
    </div>
    <div class="contacts__location">
      <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533277!2d30.320858716096975!3d59.93871648187614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2sBolshaya%20Konyushennaya%20St%2C%2019%2F8%2C%20Sankt-Peterburg%2C%20Russia%2C%20191186!5e0!3m2!1sen!2sus!4v1650547Gh435!5m2!1sen!2sus" style="border:0;" allowfullscreen="" title="Офис компании по адресу ул. Большая Конюшенная, д. 19/8 Санкт-Петербург" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</main>
{% endblock %}
